<div class="header">Score</div>
<div class="body" *ngIf="(data | async) as data">
  <div class="subheader">
    <div
      *ngFor="let label of data.labels"
      class="label"
    >
      {{label}}
    </div>
  </div>
  <div class="container">
    <div>
      <div
        *ngFor="let point of data.scoreChanges"
        class="point"
        [style.top]="point.y | percentOfExerciseDuration"
        [style.left]="(point.data.score - data.minScore) / (data.maxScore - data.minScore) * 100 + '%'"
        [appInfoPanelHook]="{data: point.data, tag: point.data.tag, id: point.data.tag === 'manual-log-with-score' ? point.data.objective.id : point.data.tag === 'automatic-log-with-score' ? point.data.id : undefined}"
        [class.danger]="point.data.points < 0"
        [class.success]="point.data.points > 0"
      >
      </div>
    </div>
    <svg
      class="chart"
      [attr.viewBox]="data.minScore + ' 0 ' + (data.maxScore - data.minScore) + ' ' + store.exercise.duration"
      preserveAspectRatio="none"
    >
      <path *ngFor="let rect of data.chartData" fill="none" vector-effect="non-scaling-stroke"  [attr.d]="rect.d" [attr.stroke]="rect.stroke" stroke-width="1.5px"></path>
    </svg>
  </div>
</div>
