@import "mixins";

@include timeline-column-header(0.5)
@import "variables";

.body {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 0.8em;
}

.subheader {
  display: flex;
  justify-content: space-between;
}

.container {
  position: relative;
  flex-grow: 1;
}

.point {
  margin-top: -5px;
  margin-left: -5px;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  &.highlight-soft {
    &.success {
      background-color: rgba($success-color, 0.6);
    }

    &.danger {
      background-color: rgba($danger-color, 0.6);
    }
  }

  &:hover, &.highlight-hard {
    &.success {
      background-color: $success-color;
    }

    &.danger {
      background-color: $danger-color;
    }
  }

}

.chart {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;

  .path {
    stroke: black;
  }
}
