@import "variables";
@import "mixins";
@include timeline-column-header(0.5)

.body {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.subheader {
  font-size: 0.8em;
  flex: 0 0 auto;
}

.col-body {
  position: relative;
  flex: 1 0 0;
  width: 30px;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}

.entry {
  height: 30px;
  width: 30px;
  position: absolute;
  background-color: $warning-color;
  border-radius: 50%;
  color: white;
  font-size: 0.8em;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;

  &.success {
    background-color: $success-color;
  }

  &.failure {
    background-color: $danger-color;
  }

  @include highlight();
}
