<div class="header">
  Manual log
</div>
<div class="body">
  <div class="col"
       *ngFor="let logByRole of (log$ | async)"
  >
    <div class="subheader">{{logByRole.role}}</div>
    <div class="col-body">
      <div
        class="entry mat-elevation-z2"
        *ngFor="let entry of logByRole.entries"
        [style.top]="entry.y | percentOfExerciseDuration:'-15px'"
        [class.success]="entry.data.points > 0"
        [class.failure]="entry.data.points < 0"
        [appInfoPanelHook]="{data: entry.data, tag: 'manual-log', id: entry.data.objective.id}"
      >
        {{entry.data.points}}
      </div>
    </div>
  </div>

</div>
