@import "variables";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;

  .small & {
    margin-bottom: 8px;
  }

  .title-time {
    flex-grow: 1;
  }

  .title {
    line-height: 1;
    margin-bottom: 4px;

    .small & {
      font-size: 14px;
    }
  }

  .points {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 8px 16px;
    background-color: $warning-color;
    line-height: 1;
    border-radius: 20px;
    color: white;

    &.success {
      background-color: $success-color;
    }
    &.danger {
      background-color: $danger-color;
    }

    .small & {
      font-size: 12px;
      padding: 6px 12px;
    }
  }

  .time {
    color:  #aaa;

    .small & {
      font-size: 12px;
    }
  }
}

.table-container {
  overflow: auto;
}

.table {
  border-spacing: 0;
  width: 100%;
  overflow: auto;

  .small & {
    font-size: 12px;
  }

  tr:last-child td {
    border-bottom: none;
  }

  td {
    padding: 4px 8px;
    border-bottom: 1px solid #cccccc;

    .small & {
      padding: 2px 4px;
    }

    &:first-child {
      width: 100px;
    }

    &.pre {
      font-family: monospace;
      white-space: pre-wrap;

      // CSS fun times with word wrapping:

      // this is non-standard and works only in Chrome
      word-break: break-word;

      // this is standard, not work in Chrome, but works in Firefox
      min-width: 100%;
      overflow-wrap: break-word;

      // next line is an alternative to overflow-wrap and it works in Edge
      word-wrap: break-word;
    }

    &.small {
      font-size: 0.8em;
    }
  }
}
