<div class="container" [class.small]="small">
  <div class="header">
    <div class="title-time">
      <h2 class="title">
        {{title}}
      </h2>
      <div class="time">
        {{gameTime}}&nbsp;
      </div>

    </div>
    <div
      class="points"
      [class.success]="points>0"
      [class.danger]="points<0"
      *ngIf="points !== undefined"
    >
      {{points}}
    </div>
  </div>
  <div class="table-container">
    <table class="table">
      <tr *ngFor="let entry of table">
        <td>{{entry.key}}:</td>
        <td [ngClass]="entry.classes">{{entry.value}}</td>
      </tr>
    </table>
  </div>
</div>
