@import 'variables';
@import "mixins";

@include timeline-column-header()

.body {
  display: flex;
}

.col {
  position: relative;
  width: 32px;
  flex-shrink: 0;
  overflow-y: hidden;
}

.thread {
  position: absolute;
  left: 4px;
  width: 24px;
  border-radius: 9999px;
  background-color: #dbf5ff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.65);
}

.email {
  position: absolute;
  left: 6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;

  &.blondie {
    background-color: darken(#faf0be, 30);
  }

  &.default {
    background-color: darken($info-color, 10);
  }

  &.police {
    background-color: darken($success-color, 10);
  }

  &.incident {
    background-color: darken($danger-color, 10);
  }

  &:hover {
    z-index: 1;
  }

  .icon {
    display: block;
    font-size: 16px;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    left: 2px;
  }
}
