<div class="header">Emails</div>
<div class="body">
  <div
    class="col"
    *ngFor="let emailThreadsCol of emailThreadsCols$ | async"
  >
    <div
      class="thread"
      *ngFor="let emailThread of emailThreadsCol.threads"
      [style.top]="emailThread.start | percentOfExerciseDuration"
      [style.height]="emailThread.duration | percentOfExerciseDuration:'+24px'"
    >
    </div>

    <div
      class="email"
      *ngFor="let email of emailThreadsCol.emails"
      [style.top]="email.y | percentOfExerciseDuration:'+2px'"
      [appInfoPanelHook]="{data: email.data, tag: 'email'}"
      [ngClass]="email.data.colorClass"
    >
      <mat-icon *ngIf="email.data.directory === 'received'" class="icon">call_received</mat-icon>
      <mat-icon *ngIf="email.data.directory === 'sent'" class="icon">call_made</mat-icon>
    </div>

  </div>

</div>
