<mat-toolbar color="primary" class="mat-elevation-z6 toolbar">
  <span>Timeline</span>
  <mat-menu #teamMenu="matMenu">
    <button
      mat-menu-item
      *ngFor="let team of teams"
      (click)="selectTeam(team)"
    >
      {{team.name}}
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="teamMenu">
    Selected team: {{(store.team$ | async)?.name}}
  </button>

  <div class="spacer"></div>
  <button mat-button (click)="logout()">
    Logout
  </button>
</mat-toolbar>
<app-timeline
  class="timeline"
  *ngIf="initialized && !loading"
>
</app-timeline>

<div
  *ngIf="loading"
  class="loading"
>
  <mat-spinner></mat-spinner>
  <p>Loading...</p>
</div>
