:host {
  position: absolute;
  width: 100%;
  height: 100%;
}

.spacer {
  flex: 1 0 0;
}

.toolbar {
  height: 64px;
}

.timeline {
  height: calc(100% - 64px);
}

.loading {
  height: calc(100% - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;

  p {
    margin-top: 20px;
  }
}
