<div class="header"></div>
<div class="body">
  <div *ngFor="let label of (points$ | async)"
       class="label"
       [style.top]="label.y | percentOfExerciseDuration"
  >
    {{label.data.time}}
  </div>
</div>
