<mat-card class="timeline">
  <div
    class="timeline-body"
    (wheel)="onWheel($event)"
    (mousemove)="onMouseMove($event)"
    #body
  >
    <div
      class="timeline-body-container"
      #bodyContainer
    >
      <app-grid
        class="grid"
      ></app-grid>
      <div class="cols">
        <app-time-axis
          class="col time-axis"
        ></app-time-axis>
        <app-objectives
          class="col"
        ></app-objectives>
        <app-manual-log
          class="col manual-logs"
        ></app-manual-log>
        <app-automatic-log
          class="col"
        ></app-automatic-log>
        <app-email
          class="col emails"
        ></app-email>
        <app-score-chart
          class="col score-chart"
        ></app-score-chart>
      </div>

    </div>
  </div>
</mat-card>
<app-info-panel
  class="info-panel mat-card"
>
</app-info-panel>

