@import 'variables';

:host {
  display: flex;
}

.timeline {
  height: calc(100% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  margin: 10px;
}

.timeline-body {
  flex-grow: 1;
  overflow-y: auto;
}

.timeline-body-container {
  user-select: none;
  position: relative;
  padding-top: $timeline-col-header-height;

  .cols {
    display: flex;
    height: calc(100% + #{$timeline-col-header-height});
    margin-top: -$timeline-col-header-height;
  }

  .col {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
  }

  .grid {
    display: block;
    position: absolute;
    width: 100%;
    height: calc(100% - #{$timeline-col-header-height});
  }

  .manual-logs {
    flex-grow: 0;
    flex-basis: auto;
    flex-shrink: 0;
  }

  .time-axis {
    flex-grow: 0;
    flex-basis: auto;
  }

  .emails {
    flex: 0 0 auto;
  }

  .score-chart {
    flex-grow: 0.5;
  }
}

.info-panel {
  height: calc(100% - 20px);
  box-sizing: border-box;
  flex: 0 0 400px;
  margin: 10px;
}
