@import 'variables';

@mixin timeline-column-header($header-size-factor: 1) {
  $header-height: #{$timeline-col-header-height * $header-size-factor};
  $subheader-height: #{$timeline-col-header-height * (1 - $header-size-factor)};

  .header {
    position: sticky;
    height: $timeline-col-header-height;
    top: 0;
    text-align: center;
    z-index: 10;
    background-color: white;
  }

  .body {
    margin-top: -#{$subheader-height};
    height: calc(100% - #{$header-height});
    padding: 0 10px;

    @if ($header-size-factor < 1) {
      .subheader {
        position: sticky;
        top: $header-height;
        height: $subheader-height;
        z-index: 10;
        background-color: white;
      }
    }
  }
}

@mixin highlight {
  &.highlight-soft {
    z-index: 1;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.5);
  }
  &.highlight-hard {
    z-index: 1;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.8);
  }
}
