:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.login {
  margin-top: -20vh;
  padding: 40px 40px;

  .header {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  mat-form-field {
    width: 200px;
    display: block;
  }

  mat-spinner {
    height: 36px;
  }
}

.full-width {
  width: 100%;
}
