<mat-toolbar color="primary" class="mat-elevation-z6 toolbar">
  <span>Timeline</span>
</mat-toolbar>

<div class="login-container">
  <mat-card class="login mat-elevation-z6">
    <form (submit)="login()">
    <div class="header">
      Timeline login
    </div>
            <mat-form-field>
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>
    <div class="footer">
      <mat-spinner [style.visibility]="loading ? 'visible' : 'hidden'" diameter="36"></mat-spinner>
      <button mat-raised-button type="submit" color="primary">Login</button>
    </div>
    </form>
  </mat-card>
</div>
