@import "variables";
@import "mixins";
@include timeline-column-header()

.body {
  display: flex;
}

.col {
  flex-grow: 1;
  position: relative;
  margin: 0 5px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.objective {
  position: absolute;
  border-radius: 2px;
  color: white;
  padding: 5px 10px;
  box-sizing: border-box;
  width: 100%;

  &.success {
    background-color: $success-color;
  }

  &:not(.success) {
    background-color: $danger-color;
  }

  @include highlight();
}
