<div class="header">Objectives</div>
<div class="body">
  <div
    class="col"
    *ngFor="let objectiveColumn of (objectives$ | async)"
  >
    <div
      class="objective mat-elevation-z2"
      *ngFor="let objective of objectiveColumn"
      [style.height]="objective.duration  | percentOfExerciseDuration"
      [style.top]="objective.start | percentOfExerciseDuration"
      [ngClass]="{success: objective.data.log.points >= 0}"
      [appInfoPanelHook]="{data: objective.data, tag: 'objective', id: objective.data.id}"
    >
      {{objective.data.name}}
    </div>
  </div>
</div>
