.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 256px;

  mat-icon {
    display: block;
    width: 64px;
    height: 64px;
    font-size: 64px;
  }

  p {
    margin-top: 16px;
    color: #555;
  }
}
