<app-info-detail
  *ngIf="(data$ | async) as data"
  [data]="data"
></app-info-detail>

<div *ngIf="!(data$ | async)" class="help">
  <mat-icon>help_outline</mat-icon>
  <p>Click on a timeline item to see details here!</p>
</div>
