@import "mixins";

@include timeline-column-header(0.5)

.body {
  display: flex;
}

.group {
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex-basis: 0;
}

.subheader {
  flex: 0 0 auto;
  text-align: center;
  font-size: 0.6em;
  overflow: hidden;
}

.group-data {
  flex-grow: 1;
  display: flex;
}

.destination-group {
  flex-grow: 1;
  display: flex;
  margin: 0 2px;
}

.col {
  flex-grow: 1;
  position: relative;
  height: 100%;

  &.col-death {
    width: 30px;
    padding: 0 5px;
    flex-grow: 0;
  }

  &:hover {
    background-color: #eee;
  }

  &:nth-child(odd) .down {
    background: $warning-color;

    &.critical {
      background: $danger-color;
    }
  }

  &:nth-child(even) .down {
    background: lighten($warning-color, 10%);

    &.critical {
      background: lighten($danger-color, 10%);
    }
  }
}

.down {
  position: absolute;
  width: 100%;
}

.death {
  position: absolute;
  border-radius: 50%;
  background: black;
  padding: 2px;

  svg {
    display: block;
    width: 16px;
    height: 16px;
  }

  &:hover {
    z-index: 1;
  }
}
