<div class="header">Automatic log</div>
<div class="body">
  <div
    class="group"
    *ngFor="let group of (logGroups$ | async)"
    [style.flex-grow]="group.name !== 'death' ? group.totalColumns : 0"
    [style.flex-basis]="group.name === 'death' ? '30px' : 'auto'"
  >
    <div class="subheader">{{group.name}}</div>
    <div class="group-data">
      <div
        *ngFor="let destinationGroup of group.columns"
        class="destination-group"
        [style.flex-grow]="destinationGroup.columns.length"
      >
        <div
          class="col"
          *ngFor="let oneCheckLog of destinationGroup.columns"
          [appInfoPanelHook]="{data: oneCheckLog.check, tag: 'check'}"
          [class.col-death]="group.name === 'death'"
        >
          <div
            *ngFor="let interval of oneCheckLog.intervals"
          >
            <div
              *ngIf="group.name !== 'death'"
              class="down"
              [style.height]="interval.duration | percentOfExerciseDuration"
              [style.top]="(interval.start - interval.duration) | percentOfExerciseDuration"
              [appInfoPanelHook]="{data: interval.data, tag: 'automatic-log', id: interval.data.id}"
              [class.critical]="interval.data.critical"
            >
            </div>

            <div
              *ngIf="group.name === 'death'"
              class="death"
              [style.top]="interval.start | percentOfExerciseDuration:'-10px'"
              [appInfoPanelHook]="{data: interval.data, tag: 'automatic-log'}"
            >
              <svg viewBox="0 0 512 512">
                <path d="M389.565,100.174h-83.072V16.696C306.493,7.479,298.608,0,289.391,0h-66.783c-9.217,0-16.289,7.479-16.289,16.696v83.478
      			h-83.885c-9.217,0-16.289,7.479-16.289,16.696v66.783c0,9.217,7.072,16.696,16.289,16.696h83.884v138.224
      			c11.13-2.935,32.833-4.659,50.087-4.659s38.957,1.724,50.087,4.659V200.348h83.072c9.217,0,17.102-7.479,17.102-16.696V116.87
      			C406.667,107.652,398.782,100.174,389.565,100.174z" fill="white"/>
                <path d="M439.207,494.174C434.381,423.032,353.913,367.304,256,367.304S77.619,423.033,72.793,494.173
      			c-0.315,4.609,1.293,9.153,4.457,12.533c3.152,3.38,7.576,5.294,12.196,5.294h333.109c4.619,0,9.044-1.913,12.196-5.294
      			C437.914,503.326,439.522,498.783,439.207,494.174z" fill="white"/>
              </svg>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
